body {
  font-family: 'Courier New', monospace;
  font-size: medium;
  background-color: #0E0B16;
  color: #E7DFDD;
  margin: 0;
  padding: 20px;
  position: absolute;
  top: 230px;
  left: 750px;
  bottom: 200px;
  transform: translate(-50%, -50%);
  }
  
  h1 {
  color: #E7DFDD;
  text-align: center;
  font-size: 30px;
  display: inline-block;
  white-space: nowrap;
  }
  
  label {
  display: block;
  margin-top: 20px;
  color: #E7DFDD;
  }
  
  input[type="text"] {
  font-family: 'Courier New', monospace;
  color: #000;
  background-color: #E7DFDD;
  padding: 5px;
  font-size: 20px;
  width: 720px;
  box-sizing: border-box;
  margin-bottom: 20px;
  }
  
  .buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', monospace;
    gap: 10px;
  }
  
  button {
    padding: 8px 20px;
    font-size: 16px;
    background-color: #4717F6;
    color: #E7DFDD;
    border: none;
    cursor: pointer;
    font-family: 'Courier New', monospace;
    width: 200px;
    position: relative;
  }
  
  button:hover {
    background-color: #E7DFDD;
    color: #000;
  }
  
  #clearButton {
    color: #E7DFDD;
    margin-left: 10px;
    background-color: #b82601;
    width: 150px; /* Adjust the width as desired */
  }
  
  #clearButton:hover {
    background-color: #E7DFDD;
    color: #000;
    font-family: 'Courier New', monospace;
  }
  
  
  .message {
  margin-top: 20px;
  font-weight: bold;
  color: #E7DFDD;
  }
  
  #totalSeekCount {
  margin-top: 10px;
  color: #E7DFDD;
  }
  
  ul {
  padding: 0;
  }
  
  li {
  list-style: none;
  margin-bottom: 5px;
  color: #E7DFDD;
  }